

body 
{
	/*background-color: #D2F575;*/ /* tetrad http://colorschemedesigner.com/ */
	font-family: Verdana, Geneva, Arial;
	font-size : 12px;
	color : #000000
}

div#formulaire
{
	clear: both;
	text-align: center;
}

div#pommier, div#buisson, div#saule, div#sapin
{
	margin: 1%;
}

div#pommier
{
	color : #A12635;
	background-color : #FBB3BC;
	
	float: left;
	width: 25%;
}

div#pommier div#googleResult
{
	border-top: 1px solid black;
	margin-top: 10px;
	padding-top: 10px;
}

div#buisson
{
	color : #8A2168;
	background-color : #EAA7D4;
	
	float: left;
	width: 25%;
}

div#sapin
{
	color : #3A9323;
	background-color : #BAF1AC;
	
	float: right;
	width: 25%;
}

div#saule
{
	color : #7E9F26;
	background-color : #E6FAB2;
	
	float: right;
	width: 25%;
}

#colorSelector
{
	position: absolute;
	top: 0;
	left: 0;
	width: 36px;
	height: 36px;
	background: url(images/select2.png);
}

#colorSelector div 
{
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: url(../images/select2.png) center;
}

#colorpickerHolder {
	top: 32px;
	left: 0;
	width: 356px;
	height: 0;
	overflow: hidden;
	position: absolute;
}
#colorpickerHolder .colorpicker {
	background-image: url(images/custom_background.png);
	position: absolute;
	bottom: 0;
	left: 0;
}
#colorpickerHolder .colorpicker_hue div {
	background-image: url(images/custom_indic.gif);
}
#colorpickerHolder .colorpicker_hex {
	background-image: url(images/custom_hex.png);
}
#colorpickerHolder .colorpicker_rgb_r {
	background-image: url(images/custom_rgb_r.png);
}
#colorpickerHolder .colorpicker_rgb_g {
	background-image: url(images/custom_rgb_g.png);
}
#colorpickerHolder .colorpicker_rgb_b {
	background-image: url(images/custom_rgb_b.png);
}
#colorpickerHolder .colorpicker_hsb_s {
	background-image: url(images/custom_hsb_s.png);
	display: none;
}
#colorpickerHolder .colorpicker_hsb_h {
	background-image: url(images/custom_hsb_h.png);
	display: none;
}
#colorpickerHolder .colorpicker_hsb_b {
	background-image: url(images/custom_hsb_b.png);
	display: none;
}
#colorpickerHolder .colorpicker_submit {
	background-image: url(images/custom_submit.png);
}
#colorpickerHolder .colorpicker input {
	color: #778398;
}
