

body 
{
	/*background-color: #D2F575;*/ /* tetrad http://colorschemedesigner.com/ */
	font-family: Verdana, Geneva, Arial;
	font-size : 12px;
	color : #000000
}

div#formulaire
{
	clear: both;
}

div#pommier, div#buisson, div#saule, div#sapin
{
	margin: 1%;
}

div#pommier
{
	color : #A12635;
	background-color : #FBB3BC;
	
	float: left;
	width: 25%;
}

div#pommier div#googleResult
{
	border-top: 1px solid black;
	margin-top: 10px;
	padding-top: 10px;
}

div#buisson
{
	color : #8A2168;
	background-color : #EAA7D4;
	
	float: left;
	width: 25%;
}

div#sapin
{
	color : #3A9323;
	background-color : #BAF1AC;
	
	float: right;
	width: 25%;
}

div#saule
{
	color : #7E9F26;
	background-color : #E6FAB2;
	
	float: right;
	width: 25%;
}
