

body 
{
	background-color: #D2F575; /* tetrad http://colorschemedesigner.com/ */
	font-family: Verdana, Geneva, Arial;
	font-size : 12px;
	color : #000000
}

div.pommier
{
	color : #A12635
	background-color : #FBB3BC
}

div.buisson
{
	color : #8A2168
	background-color : #EAA7D4
}

div.sapin
{
	color : #3A9323
	background-color : #BAF1AC
}

div.saule
{
	color : #7E9F26
	background-color : #E6FAB2
}