body {
	font-size: 12px;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	color: #000000;
	line-height: 150%;
	background: white;
	margin: 0px;
	padding: 0px;
	min-width: 750px;
}

p {
	line-height: 150%;
	margin: 5px 0px 10px 0px;
	padding: 0px;
}

td, th {
	font-size: 12px;
	line-height: 150%;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: square;
}

li {
	margin: 0px 0px 5px 0px;
	padding: 0px;
	margin-left: 2em;
	list-style: outside;
}

a,
a:link,
a:visited,
a:active {
	color: #4F7500;
	text-decoration: underline;
}
a:hover {
	color: #395500;
	background: #EFF9D0;
}

form{
	display: inline;
	margin: 0;
	padding: 0;
}

input,
select{
	vertical-align: middle;
}

input.button{
	color: #645A44;
	padding: 2px 5px;
	text-decoration: none;
	vertical-align: middle;
	border: 1px solid #ABA498;
	border-top: 1px solid #C8C4BB;
	border-left: 1px solid #C8C4BB;
	background: #F4FBE1 url('images/bg_input_btn.png');
}
input.button:hover{
	color: #395500;
	background: #F4FADF url('images/bg_input_btn_hover.png');
	border: 1px solid #80AA00;
	border-top: 1px solid #99CC00;
	border-left: 1px solid #99CC00;
}

input.text,
textarea {
	padding: 2px 5px;
	vertical-align: middle;
	#border: 1px solid #C0BBB4;
	background: white url('images/bg_input_text.png') top left repeat-x;

}
input.texthover,
textarea {
	padding: 2px 5px;
	vertical-align: middle;
	#border: 1px solid #99CC00;
	background: white url('images/bg_input_text_hover.png') top left repeat-x;
}

label {
	cursor: pointer;
}

img {
	border: none;
	vertical-align: middle;
}

hr {
	height: 1px;
	border: 0;
	border-top: 1px dashed #CCCCCC;
}

#kwh { position:absolute; background:#ffffff; border:1px solid #CCC; font:11.5px/20px Verdana;margin:1px 0px; }
#kwh td { padding:0 5px; }

.wrapper {
	margin: 0px;
	padding: 0px;
}

.header{
	background: white url('images/bg_header_blue.png') top left;
	height: 55px;
}
.innerHeader{
	min-width: 610px;
	width: auto;
	margin: 0px 10px;
}

.title{
	float: left;
	width: auto;
	margin-top: 5px;
}
.title img{
	float: left;
	margin-right: 12px;
}
.title p{
	margin: 0px;
	padding: 0px;
	color: #666666;
}

.title-ad{
	padding-top: 5px;
	float: right;
}

.title-ad a:link,
.title-ad a:visited,
.title-ad a:active,
.title-ad a:hover{
	float: left;
	display: block;
	padding: 4px 8px;
	margin: 0px 5px 0px 0px;
	color: #666666;
	text-decoration: none;
}
.title-ad a:hover{
	color: white;
	background: #666666;
}

.navPanel{
	border-top: 1px solid #DAD7CF;
	border-bottom: 1px solid #DAD7CF;
	line-height: 200%;
	background: #F2F0EE url('images/bg_btn.png') top left;
	padding: 0px 20px 0px 70px;
}
.innerNavPanel {
	margin: 0px;
	width: 100%;
}

.buttons{
	line-height: 200%;
	white-space: nowrap;
	width: 99%;
	overflow: hidden;
	border-left: 1px solid #E4E1DA;
}
.buttons a:link,
.buttons a:active,
.buttons a:visited,
.buttons a:hover
{
	float: left;
	display: block;
	padding: 4px 10px;
	color: #645A44;
	text-decoration: none;
	border-left: 1px solid white;
	border-right: 1px solid #E4E1DA;
	background: #F4FBE1 url('images/bg_btn.png');
}
.buttons a:hover
{
	color: #395500;
	background: #F4FADF url('images/bg_btn_hover.png') top left repeat-x;
}
.buttons-active {
	color: #993300 !important;
	background: #FFF1BB url('images/bg_btn_active_yellow.png') !important;
}

.buttons .menu{
	color: #999999 !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

* html .buttons img {
	float: left;
	margin: 5px 5px 5px 0px;
}

.search{
	float: left;
	margin: 5px 0px 0px 5px;
}
.searchBox{float: left;
	width: 400px;
	height: 22px;
}
.searchBtn
{float: left;cursor:pointer;width:32px;height:22px;background:url(images/btn_go.png) no-repeat;border:0px;margin-left: 3px}
.searchBtn_hover
{cursor:pointer;width:32px;height:22px;background:url(images/btn_go_hover.png) no-repeat;border:0px;}

.categories{
	margin-bottom:5px;
}
.categories a:link,
.categories a:active,
.categories a:hover,
.categories a:visited
{
	color: #2760AB !important;
	margin: 0px 5px;
}
.categories a:hover{
	color: #0099FF !important;
	background: none !important;
}

.categories a.active:link,
.categories a.active:active,
.categories a.active:hover,
.categories a.active:visited
{
	font-weight: bold !important;
	color: black !important;
	text-decoration: none !important;
}
.categories a.prefered:link,
.categories a.prefered:active,
.categories a.prefered:hover,
.categories a.prefered:visited
{
	font-weight: bold !important;
}
.categories a.prefered-active:link,
.categories a.prefered-active:active,
.categories a.prefered-active:hover,
.categories a.prefered-active:visited
{
	color: black !important;
	font-weight: bold !important;
	text-decoration: none !important;
}

.bsddd {font-family: arial, sans-serif;  margin:0; font-size:14px;position: absolute;left: 487px; top: 50px;display:none;}
.bsddd ul li a, .bsddd ul li a:visited {display:block; text-decoration:none; color:#000;width:69px; height:20px; text-align:center; line-height:20px; font-size:14px; overflow:hidden;padding-top:0px;}
.bsddd ul {padding:0; margin:0; }
.bsddd ul li { background:#FFD870;margin-bottom:0px;list-style-type: none;}
.bsddd ul li a:hover  {background:#3CA3CC; color:#fff;}